<div class="main">
  <h1>My To Do List</h1>
  <h2>What would you like to do today?</h2>

  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
  />
  <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>
  <ul>
    <li *ngFor="let item of items">
      {{ item.description
      }}<button class="btn-primary" (click)="deleteItem(item)">
        delete
      </button>
    </li>
  </ul>
</div>
